<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Listen Now
      </ion-tab-button>
      <ion-tab-button tab="navigation" (click)="goToScreen()">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Photo</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="profile"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
